{#1.Умовні теги#}
{#{% if %}#}
{#код#}
{#{% endif %}#}

{#else#}

{#{% ifequal a b %} }}#}
{#код#}
{#{% endifequal %}#}

{#2. Цикли#}
{#{% for key, value  in dictionary %}#}
{#    Key: {{ key }}#}
{#    Value: {{ value }}#}
{#{% endfor %}#}

{#3. Включення#}
{#{% include 'назва.html' %}#}

{#4. URL#}
{#{% url 'path/to/resourse' параметри %}#}
{#<a href=">Link</a>#}
{#{{ string | lower }}#}
{#{{ string | upper }}#}
{#{{ string | title }}#}
{#{{ string | truncatechars:5 }}#}
{##}
{#{{ number | add:10 }}#}
{#{{ number | floatformat:2 }}#}
{##}
{#{{ list | length }}#}
{#{{ list | first }}#}
{#{{ list | last }}#}
{##}
{#{{ value | default:"No data." }}#}
{##}
{#{{ date | date:"d.m.Y" }}#}