<html>
<head>
    <tilte>Список машин</tilte>
</head>
<body>
    <h1>Інформація про машини</h1>
    {% if cars %}
        <ol>
            {% for car_id, car in cars.items %}
                <li>
                    <strong>ID: {{ car_id }}</strong>
                    <ul>
                        {% for key, value in car.items %}
                            <li>{{ key }} : {{ value }}</li>
                        {% endfor %}
                    </ul>
                </li>
            <hr>
            {% endfor %}
        </ol>
    {% endif %}

    <a href="{% url 'app:show_details' %}">Перейти до таблиці</a>
</body>
</html>