{% extends 'app/base.html' %}

{% block title %} Інформація про машину {% endblock %}

{% block content %}
    <h1>Інформація про машини</h1>
     <p>ID машини: {{ car_id }}</p>
    {% if car %}
        <p>Марка машини: {{ car.Марка }}</p>
        <p>Модель машини: {{ car.Модель }}</p>
        <p>Рік машини: {{ car.Рік }}</p>
        <p>Ціна машини: {{ car.Ціна }}</p>
    {% endif %}
{% endblock %}


<!--<html>-->
<!--<head>-->
<!--   <title>Інформація про машини</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Інформація про машини</h1>-->
<!--     <p>ID машини: {{ car_id }}</p>-->
<!--    {% if car %}-->
<!--        <p>Марка машини: {{ car.Марка }}</p>-->
<!--        <p>Модель машини: {{ car.Модель }}</p>-->
<!--        <p>Рік машини: {{ car.Рік }}</p>-->
<!--        <p>Ціна машини: {{ car.Ціна }}</p>-->
<!--    {% endif %}-->
<!--    <a href="{% url 'app:show_info' %}">Назад до списку</a>-->
<!--    <a href="{% url 'app:show_details' %}">Перейти до таблиці</a>-->
<!--</body>-->
<!--</html>-->